<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error" strict="true" name="XMLConfigTest">
    <Properties>
        <Property name="filename" value="out/car_depot.log"/>
    </Properties>

    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{DEFAULT} %5p %t %c{1}:%M:%L - %m%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </Appender>
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%d{DEFAULT} %5p %t %c{1}:%M:%L - %m%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="Accept" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="Accept" onMismatch="DENY"/>
            </Filters>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>